<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= product.bookTitle %></h1>
        <div>
            <img src="<%= product.imageURL %>" alt="<%= product.bookTitle %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <%- include('../includes/add-to-cart',) %>
    </main>

<%- include('../includes/end.ejs') %>
